@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?7ygnne');
  src:  url('fonts/icomoon.eot?7ygnne#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?7ygnne') format('truetype'),
    url('fonts/icomoon.woff?7ygnne') format('woff'),
    url('fonts/icomoon.svg?7ygnne#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-moon:before {
  content: "\e900";
}
.icon-sun:before {
  content: "\e901";
}
.icon-document:before {
  content: "\f222";
}
.icon-gcreas:before {
  content: "\e902";
}
.icon-empirestate:before {
  content: "\e903";
}
.icon-acbsp:before {
  content: "\e904";
}
